<!--<ul class="nav" *ngIf="userIsLoggedIn">-->
<!--  <li class="nav-item">-->
<!--    <button class="btn btn-primary" (click)="logout()">Logout</button>-->
<!--  </li>-->
<!--</ul>-->

<!--<ul class="nav" *ngIf="!userIsLoggedIn">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="/login">Login</a>-->
<!--  </li>-->
<!--</ul>-->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> {{ whichUserType }}</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="userIsLoggedIn && whichUserType === 'SYSTEM ADMIN'">
          <a routerLink="/flights">Flights</a>
        </li>
        <li routerLinkActive="active" *ngIf="userIsLoggedIn && whichUserType === 'SYSTEM ADMIN'">
          <a routerLink="/hotels">Hotels</a>
        </li>
        <li routerLinkActive="active" *ngIf="userIsLoggedIn && whichUserType === 'SYSTEM ADMIN'">
          <a routerLink="/rent-a-cars">Rent A Car Services</a>
        </li>
        <li routerLinkActive="active" *ngIf="userIsLoggedIn && whichUserType === 'SYSTEM ADMIN'">
          <a routerLink="/admins">Admins</a>
        </li>
        <li routerLinkActive="active" *ngIf="!userIsLoggedIn">
          <a routerLink="/login">Login</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="userIsLoggedIn">
          <a routerLink="/myProfile/{{admin_username}}">My Profile</a>
        </li>
<!--        <li routerLinkActive="active" *ngIf="userIsLoggedIn && whichUserType === 'HOTEL ADMIN'">-->
<!--          <a routerLink="/myHotel/{{admin_hotel}}">My Hotels</a>-->
<!--        </li>-->
        <li *ngIf="userIsLoggedIn">
          <a style="cursor: pointer;"
             (click)="logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

