<div *ngIf="rent_a_car != null">
  <h1 class="display-3">
      {{rent_a_car.name}}
  </h1>
  

</div>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link active" routerLink='/add-branch'>Add new branch</a>
      </li>

      <li class="nav-item">
          <a class="nav-link active" routerLink='/add-vehicle'>Add new vehicle</a>
      </li>
    </ul>




</nav>

<app-vehicle-list></app-vehicle-list>
