<app-nav></app-nav>

<h2>Create new Admin</h2>

<hr>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-3">

    <form [formGroup]="createAdminForm"
          (ngSubmit)="onSubmit()"
          class="form-horizontal" >

      <div class="form-group">
        <label class="col-xs-2">Username:</label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 formControlName="username"
                 placeholder="Enter admin username"/>
        </div>
        <span class="help-block"
              *ngIf="!createAdminForm.controls.username.valid &&
              createAdminForm.controls.username.touched">
          Username is required
        </span>
      </div>

      <div [formGroup]="passwordFormGroup">
        <div class="form-group">
          <label class="col-xs-2">Password:</label>
          <div class="col-xs-6">
            <input type="password"
                   class="form-control"
                   formControlName="password"
                   placeholder="Enter admin password" autocomplete="new-password"/>
          </div>
          <span class="help-block"
                *ngIf="!passwordFormGroup.controls.password.valid &&
                passwordFormGroup.controls.password.touched">
            Password is required
          </span>
          <span *ngIf="passwordFormGroup.controls.password.errors?.minlength">
            Password must be at least 6 characters
          </span>
        </div>

        <div class="form-group">
          <label class="col-xs-2">Repeat password:</label>
          <div class="col-xs-6">
            <input type="password"
                   class="form-control"
                   formControlName="passwordRepeat"
                   placeholder="Repeat password"/>
          </div>
          <span class="help-block"
                *ngIf="!passwordFormGroup.controls.passwordRepeat.valid &&
                passwordFormGroup.controls.passwordRepeat.touched">
            Repeat password required
          </span>
          <p class="bg-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2">Email:</label>
        <div class="col-xs-6">
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="Enter admin email"/>
        </div>
        <span class="help-block"
              *ngIf="!createAdminForm.controls.email.valid &&
              createAdminForm.controls.email.touched">
          Email is required
        </span>
      </div>

      <div class="form-group">
        <label class="col-xs-2">Role:</label>
        <div class="col-xs-6">
          <select formControlName="type"
                  class="form-control"
                  style="height: 33px;">
            <option value="" disabled selected>Choose admin type</option>
            <option value="SYSTEM_ADMIN">System admin</option>
            <option value="AIRLINE_ADMIN">Airline admin</option>
            <option value="HOTEL_ADMIN">Hotel admin</option>
            <option value="RENT_A_CAR_SERVICE_ADMIN">Rent-a-car service admin</option>
          </select>
        </div>
        <span class="help-block"
              *ngIf="!createAdminForm.controls.type.valid &&
              createAdminForm.controls.type.touched">
          Admin type is required
        </span>
      </div>


<!--   OVDE MOZDA NAPRAVITI DA SE PRVO PROVERI VREDNOST POLJA ROLE I ONDA
   U ZAVISNOSTI OD TOGA DA MU SE PONUDE ODGOVARAJUCI OBJEKTI KOJIMA MOZE DA UPRAVLJA-->
<!--      <div class="form-group">-->
<!--        <label class="col-xs-2">Editing object ID:</label>-->
<!--        <div class="col-xs-6">-->
<!--          <input type="text"-->
<!--                 class="form-control"-->
<!--                 formControlName="editingObjectID"-->
<!--                 placeholder="Enter editing object's ID"/>-->
<!--        </div>-->
<!--        <span class="help-block"-->
<!--              *ngIf="!createAdminForm.controls.editingObjectID.valid &&-->
<!--              createAdminForm.controls.editingObjectID.touched">-->
<!--          Editing object's ID is required-->
<!--        </span>-->
<!--      </div>-->

      <div class="col-xs-10 col-xs-offset-2">
        <button type="submit"
                class="btn btn-success"
                [disabled]="!createAdminForm.valid">Create Admin</button> |
        <button type="button"
                class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>

    </form>

  </div>
</div>

<!--{{createAdminForm.controls.username.value}}-->
<!--{{createAdminForm.controls.password.value}}-->
<!--{{createAdminForm.controls.passwordRepeat.value}}-->
<!--{{createAdminForm.controls.email.value}}-->
<!--{{createAdminForm.controls.type.value}}-->
<!--{{createAdminForm.controls.editingObjectID.value}}-->
