<app-nav></app-nav>

<h2>Create new Room</h2>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form [formGroup]="createRoomForm"
          (ngSubmit)="onSubmit()"
          class="form-horizontal">

      <div class="form-group">
        <label class="col-xs-2">
          Add to hotel:
        </label>
        <div class="col-xs-6">
          <select class="form-control"
                  formControlName="hotel"
                  *ngIf="hotels">
            <option value="" disabled selected>Choose hotel</option>
            <option value="{{hotels.id}}">{{hotels.name}}</option>
          </select>
        </div>
        <span class="help-block"
              *ngIf="!createRoomForm.controls.hotel.valid &&
               createRoomForm.controls.hotel.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label class="col-xs-2">
          Room Status:
        </label>
        <div class="col-xs-6">
          <select class="form-control"
                  formControlName="roomStatus">
            <option value="" disabled selected>Choose Room Status</option>
            <option value="AVAILABLE" selected>Available</option>
          </select>
        </div>
        <span class="help-block"
              *ngIf="!createRoomForm.controls.roomStatus.valid &&
               createRoomForm.controls.roomStatus.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label class="col-xs-2">
          Room Type:
        </label>
        <div class="col-xs-6">
          <select class="form-control"
                  formControlName="roomType"
                  [ngModel]="mymodel"
                  (change)="onChanges()">
            <option value="" disabled selected>Choose Room Type</option>
            <option value="SINGLE" >Single</option>
            <option value="DOUBLE" >Double</option>
            <option value="TRIPLE" >Triple</option>
            <option value="QUAD" >Quad</option>
          </select>
        </div>
        <span class="help-block"
              *ngIf="!createRoomForm.controls.roomType.valid &&
               createRoomForm.controls.roomType.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label class="col-xs-2">
          Floor:
        </label>
        <div class="col-xs-6">
          <input type="number" class="form-control"
                 formControlName="floor"
                 placeholder="Enter room floor">
        </div>
        <span class="help-block"
              *ngIf="!createRoomForm.controls.floor.valid &&
               createRoomForm.controls.floor.touched">
          {{ errorMessage }}
        </span>
      </div>


      <div class="form-group">
        <label class="col-xs-2">
          Capacity:
        </label>
        <div class="col-xs-6">
          <input type="number" class="form-control"
                 formControlName="capacity"
                 placeholder="Enter room capacity"
                 value="{{mymodel}}">
        </div>
        <span class="help-block"
              *ngIf="!createRoomForm.controls.capacity.valid &&
               createRoomForm.controls.capacity.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label class="col-xs-2">
          Room ID:
        </label>
        <div class="col-xs-6">
          <input type="text" class="form-control"
                 formControlName="roomID"
                 placeholder="Enter room ID">
        </div>
        <span class="help-block"
              *ngIf="!createRoomForm.controls.roomID.valid &&
               createRoomForm.controls.roomID.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label class="col-xs-2">
          Price:
        </label>
        <div >
<!--          <input type="number" class="form-control"-->
<!--                 formControlName="pricePerNight"-->
<!--                 placeholder="Enter room price">-->
          <button type="button" class="btn btn-primary"
                  (click)="onAddPrice()">Add Price</button>
        </div>
        <span class="help-block"
              *ngIf="!createRoomForm.controls.pricePerNight.valid &&
               createRoomForm.controls.pricePerNight.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="col-xs-10 col-xs-offset-2">
        <button type="submit"
                class="btn btn-success"
                [disabled]="!createRoomForm.valid">Create Room</button> |
        <button type="button"
                class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>

    </form>

  </div>
</div>

<hr>

<app-create-price *ngIf="addPriceClicked"></app-create-price>
