
<!-- OVO IDE U HOTEL DETAIL COMPONENT -->

<app-nav></app-nav>

<div *ngIf="hotel">
  <h1>{{hotel.name}}</h1>
  <p>{{hotel.description}}</p>
  <h4>Rating: {{hotel.rating}}</h4>
  <h4> Address - {{hotel.address.streetName}},
    {{ hotel.address.buildingNumber }},
    {{ hotel.address.city }},
    {{ hotel.address.country }}</h4>
</div>

<!-- ############################################ -->




<!--<div class="row">-->
<!--  <div class="col-xs 12">-->
<!--    <app-hotel-item-->
<!--      *ngFor="let hotelElement of hotels | async; let i = index"-->
<!--      [hotel]="hotelElement"-->
<!--      [index]="i">-->
<!--    </app-hotel-item>-->

<!--  </div>-->
<!--</div>-->



