
<app-nav></app-nav>

<div *ngIf="hotel">
  <h1>{{hotel.name}}</h1>
  <p>{{hotel.description}}</p>
  <h4>Rating: {{hotel.rating}}</h4>
  <h4> Address - {{hotel.address.streetName}},
    {{ hotel.address.buildingNumber }},
    {{ hotel.address.city }},
    {{ hotel.address.country }}</h4>
  <div class="row" *ngIf="hotel">
            <span
              *ngFor="let addS of hotel.additionalServices">
              <b>  -  </b> {{addS.service}}
            </span>
  </div>

<!--  <ul class="myul">-->
<!--    <li  *ngFor="let room of hotel.rooms">-->
<!--      <a class="card-title"-->
<!--         routerLinkActive="active"-->
<!--         [routerLink]="[room.id]">-->
<!--        {{ room.id }}-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->

  <table class="table table-bordered table-dark">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room Type</th>
      <th scope="col">Capacity</th>
      <th scope="col">Floor</th>
      <th scope="col">Price Per Night</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of hotel.rooms">
        <th scope="row">{{room.id}}</th>
        <td>{{room.type}}</td>
        <td>{{room.capacity}}</td>
        <td>{{room.floor}}</td>
        <td>{{room.pricePerNight}}</td>
        <td><button class="btn btn-primary"
                    (click)="onBookRoom(room.id)">Book Room</button></td>
      </tr>
    </tbody>
  </table>

</div>



<!-- ############################################ -->

<!--<div class="row">-->
<!--  <div class="col-xs 12">-->
<!--    <app-hotel-item-->
<!--      *ngFor="let hotelElement of hotels | async; let i = index"-->
<!--      [hotel]="hotelElement"-->
<!--      [index]="i">-->
<!--    </app-hotel-item>-->

<!--  </div>-->
<!--</div>-->
