<div class="row">
  <div class="col-xs-12" *ngFor="let room of rooms">
      <a class="list-group-item clearfix"
         routerLinkActive="active"
         [routerLink]="['edit-room', hotel.id, room.id]"
         style="cursor: pointer">
        <div class="pull-left">
          <h4 class="list-group-item-heading">Room No.{{room.id}}</h4>
        </div>

      </a>
    <div class="col-xs-2">
      <button class="btn btn-danger"
              (click)="onDelete(room.id)">Delete</button>
    </div>
  </div>
</div>

