.center {
  text-align: center;
}

div.container {
  width: 100%;
}

.row {
  position: relative;
  widht: 100%;
  margin-top: 10%;

}

.carousel:hover {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
