<app-nav></app-nav>

<div>

  <div id="hotelsUpper">
    <div id="hotelsTitle">
      <h1>Search Hotels</h1>
    </div>

    <app-hotel-search></app-hotel-search>

  </div>

<!--  <div id="hotelsMiddle">-->
<!--    <div id="hotelsMap">-->

<!--    </div>-->

<!--    <div id="hotelsSortFilter">-->
<!--      <div id="hotelsSort">-->

<!--      </div>-->

<!--      <div id="hotelsFilter">-->

<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

  <div id="hotelsLower" >
    <div id="hotelsContainer">

<!--      <app-hotels></app-hotels>-->
      <div class="row"
           *ngFor="let hotel of hotels | async"
           style="display: flow-root;">

        <div class="col-xs-4" style="border: solid 2px; border-color: orangered">
          <a routerLinkActive="active"
             [routerLink]="[hotel.id]">
            <h3 class="heading">{{hotel.name}}</h3>
          </a>
            <div class="text">
<!--              <span class="price">$29/night</span>-->

              <div class="post-meta">
                <span>{{hotel.address.city}}, {{hotel.address.country}}</span>
              </div>
              <p class="star-rate">
                <span>Rating: {{hotel.rating}}</span>
<!--                <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>-->
<!--                <span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span>-->
              </p>
            </div>
          <div class="hotelAddServices" >


          </div>


        </div>


      </div>
<!--      end row-->

    </div>

<!--    <div class="col-md-7">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->

  </div>


</div>



