<app-nav></app-nav>

<div>

  <div id="hotelsUpper">
    <div id="hotelsTitle">
      <h1>Search Hotels</h1>
    </div>

    <app-hotel-search></app-hotel-search>

  </div>

  <!--  <div id="hotelsMiddle">-->
  <!--    <div id="hotelsMap">-->

  <!--    </div>-->

  <!--    <div id="hotelsSortFilter">-->
  <!--      <div id="hotelsSort">-->

  <!--      </div>-->

  <!--      <div id="hotelsFilter">-->

  <!--      </div>-->

  <!--    </div>-->

  <!--  </div>-->

  <app-find-hotels (queryResultEvent)="fetchQueryResults($event)"></app-find-hotels>

  <div id="hotelsLower" >
    <div id="hotelsContainer">

      <div id="searchResult"
           *ngIf="hotelSearchResult">

      </div>

      <!--      <app-hotels></app-hotels>-->
      <div *ngIf="!hotelSearchResult">
        <div class="form-group"
             *ngFor="let hotel of hotels | async"
             style="float: left">

          <div style="min-width: 16vw">
            <a routerLinkActive="active"
               [routerLink]="[hotel.id]">
              <h3 class="heading">{{hotel.name}}</h3>
            </a>
            <div class="text">
              <!--              <span class="price">$29/night</span>-->

              <div class="post-meta">
                <span>{{hotel.address.city}}, {{hotel.address.country}}</span>
              </div>
              <p class="star-rate">
                <span>Rating: {{hotel.rating}}</span>
                <!--                <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>-->
                <!--                <span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span>-->
              </p>
            </div>
            <div>
              <span>Stars: {{ hotel.stars }}</span>
            </div>
            <div class="hotelAddServices" >

            </div>

          </div>

        </div>

      </div>

    </div>  <!-- end hotels container -->


  </div>  <!-- end hotels lower -->


</div>



