<app-nav></app-nav>

<h2>Create new Hotel</h2>

<hr>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">

    <form [formGroup]="createNewHotelForm"
          (ngSubmit)="onSubmit()"
          class="form-horizontal">

      <div class="form-group">
        <label for="nameField" class="col-xs-2">Name: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="nameField"
                 formControlName="name"
                 placeholder="Enter hotel name"/>
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.name.valid &&
               createNewHotelForm.controls.name.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="streetNameField" class="col-xs-2">Street: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="streetNameField"
                 formControlName="streetName"
                 placeholder="Enter street name" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.streetName.valid &&
               createNewHotelForm.controls.streetName.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="buildingNumberField" class="col-xs-2">Number: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="buildingNumberField"
                 formControlName="buildingNumber"
                 placeholder="Enter building number" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.buildingNumber.valid &&
               createNewHotelForm.controls.buildingNumber.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="cityField" class="col-xs-2">City: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="cityField"
                 formControlName="city"
                 placeholder="Enter city" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.city.valid &&
               createNewHotelForm.controls.city.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="countryField" class="col-xs-2">Country: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="countryField"
                 formControlName="country"
                 placeholder="Enter country" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.country.valid &&
               createNewHotelForm.controls.country.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="phoneField" class="col-xs-2">Phone number: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="phoneField"
                 formControlName="phoneNumber"
                 placeholder="Enter phone number" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.phoneNumber.valid &&
               createNewHotelForm.controls.phoneNumber.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="emailField" class="col-xs-2">Contact email: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="emailField"
                 formControlName="contactEmail"
                 placeholder="Enter contact email" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.contactEmail.valid &&
               createNewHotelForm.controls.contactEmail.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="descField" class="col-xs-2">Description: </label>
        <div class="col-xs-6">
          <textarea type="text"
                    class="form-control"
                    id="descField"
                    formControlName="description"
                    placeholder="Enter hotel description"
                    rows="6"></textarea>
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.description.valid &&
               createNewHotelForm.controls.description.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="websiteField" class="col-xs-2">Hotel website: </label>
        <div class="col-xs-6">
          <input type="text"
                 class="form-control"
                 id="websiteField"
                 formControlName="website"
                 placeholder="Enter hotel website" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.website.valid &&
               createNewHotelForm.controls.website.touched">
          {{ errorMessage }}
        </span>
      </div>

<!--      rating ??? ili bez tog polja a da u OnInit stavim da je 0-->

      <div class="form-group">
        <label for="floorsField" class="col-xs-2">Number of floors: </label>
        <div class="col-xs-6">
          <input type="number"
                 class="form-control"
                 id="floorsField"
                 formControlName="numberOfFloors"
                 placeholder="Enter number of floors" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.numberOfFloors.valid &&
               createNewHotelForm.controls.numberOfFloors.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="form-group">
        <label for="starsField" class="col-xs-2">Stars: </label>
        <div class="col-xs-6">
          <input type="number"
                 class="form-control"
                 id="starsField"
                 formControlName="stars"
                 placeholder="Enter stars" />
        </div>
        <span class="help-block"
              *ngIf="!createNewHotelForm.controls.stars.valid &&
               createNewHotelForm.controls.stars.touched">
          {{ errorMessage }}
        </span>
      </div>

      <div class="col-xs-10 col-xs-offset-2">
        <button type="submit"
                class="btn btn-success"
                [disabled]="!createNewHotelForm.valid">Create Hotel</button> |
        <button type="button"
                class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>

    </form>

  </div>
</div>
